body{
    background: rgb(197, 65, 92);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}



.assignment {
    display:flex;
    padding:10px;
    margin:10px;
    margin-bottom: 30px;
    background:bisque;
    border-radius:5px ;
    box-shadow: 5px 8px coral;

}
.assignment img {
    width:200px;
    border: 2px solid olive;
    margin-right:20px;
    border-radius: 5px;
}
h1{
    color: coral;
    text-align:center;
}
a{
    text-decoration:none;
    color: coral;
}

.assignment a:hover {
    color:brown;
}